ul.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.NavBar li {
    float: left;
}

.NavBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavBar li a:hover {
    background-color: #111;
}

.NavBar .active {
    background-color: #4CAF50;
}

.login  {
    margin-left : 1375px;

}

.inputLOG_REG input {
    font-size: 30px;
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.inputLOG_REG button {
    font-size: 50px;
    margin-left : 690px;
}


.Log_Reg_Header{
    font-size: 50px;
    box-sizing: border-box;
    text-align: center;
    background: blue;
}